.calendar-with-list {
    display: flex;
    padding: 1rem;
    padding-top: 1rem;
    justify-content: space-around;
}

/* CALENDAR GRID (left) */

.calender-side {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 4;

}

.list-side {
    flex: 4;

}

.list-side.bigger {
    flex: 5.5;

}


.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 3rem;
}

.blurred {
    filter: blur(2px);
    /* pointer-events: none;
    user-select: none; */
    opacity: 0.6;
}

.side-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;

    gap: 10px;
    direction: rtl;
    font-weight: 600;

    height: 45px;
    margin-top: 1.60rem;
}


/* SELECTED-DATES LIST (right) */
.selected-list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    border-left: 1px solid #dddddd;
    padding-left: 6rem;

    max-width: 460px;
    height: 550px;
}

.selected-list.bigger {
    max-width: 560px;
}

.selected-list-header-text {
    font-size: 24px;
    padding-bottom: 3px;
    white-space: nowrap;
}

.selected-list-entries {
    overflow-y: auto;
    max-height: 420px;
    padding-right: 8px;
}

/* WebKit browsers (Chrome, Safari, Edge) */
.selected-list-entries::-webkit-scrollbar {
    width: 10px;
}

.selected-list-entries::-webkit-scrollbar-track {
    background: rgb(245, 245, 245);
    border-radius: 3px;
}

.selected-list-entries::-webkit-scrollbar-thumb {
    background-color: var(--dark-main-color);
    border-radius: 10px;
    border: 2px solid transparent;
    /* gives you padding inside thumb */
    background-clip: content-box;
    /* makes the border “pad” around it */
}

.selected-list-entries::-webkit-scrollbar-thumb:hover {
    background-color:
        color-mix(in srgb, black 10%, var(--dark-main-color));
}

.selected-list-counter {
    font-weight: 500;
    font-size: 1.4em;

    margin: 20px 0;

}

.selected-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 1rem 0.75rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;

    cursor: pointer;

}

.selected-item * {
    font-size: 1.15em;
    font-weight: 500;
}

.weekday {
    width: 50px;
    text-align: start;
}

.extra {
    display: flex;
    align-items: center;
    width: 150px;
    gap: 12px;
}

.status-dot {
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-radius: 50%;
    background-color: #BBBBBB;
}

.status-dot.approved {
    background-color: #038B7F;
}



@keyframes blink-in {
    0% {
        background-color: #f9f9f9;
    }

    100% {
        background-color: var(--highlight-color);
    }
}

.selected-item.highlighted-item {
    animation: blink-in 0.5s ease-out forwards;

}

.extra-message {
    font-weight: 500;
    width: 350px;
    text-align: right;
}

.first-contact-message {
    display: flex;
    flex-direction: column;


    border-left: 1px solid #dddddd;
    padding-left: 6rem;

    max-width: 460px;
    height: 550px;
}

.first-contact-message__title {
    font-weight: bold;
    margin-top: 1.6rem;
    margin-bottom: 0;
    font-size: 1.2rem;
}

.first-contact-message__text {
    line-height: 1.6rem;
    margin-bottom: 2rem;
    color: #222;
}

.first-contact-message__button {
    background-color: #5baaa0;
    color: #fff;
    border: none;
    width: 220px;
    border-radius: 8px;
    padding: 0.65rem 1.5rem;
    
    font-weight: 600;
    font-size: 1rem;

    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, transform 0.05s ease;
}

.first-contact-message__button:hover {
    background-color: #4a948c;
}
.first-contact-message__button:active {
    transform: scale(0.99);
}