.desktop-app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* HEADER */
.header {
    background-color: #f5f5f5;
    text-align: center;
    font-size: 1.5rem;
    padding: 0 2em;
}

h1 {
    text-align: right;
}

/* NAVIGATION BAR */
.nav-bar {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 0.5rem 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.nav-button {
    background: none;
    border: none;
    width: 160px;
    margin: 0 1rem;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #333333;
}

.nav-button.active {
    border-bottom: 5px solid #333333;
    font-weight: 600;
}

/* MAIN CONTENT LAYOUT */
.calendar-with-list {
    display: flex;
    padding: 1rem;
    gap: 2rem;
    justify-content: space-around;
}

/* CALENDAR GRID (left) */

.calender-side {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 6;
}

.list-side {
    flex: 5;

}
/* SELECTED-DATES LIST (right) */
.selected-list {
    border-left: 1px solid #dddddd;
    padding-left: 3rem;
    
    max-width: 460px;
}

.selected-list-entries {
    overflow-y: auto;
    max-height: 500px;
}

.selected-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}

.selected-list-title {
    font-weight: 700;
    font-size: 1.8em;
}

.selected-list-counter {
    font-weight: 500;
    font-size: 1.4em;

    margin: 20px 0;

}

.selected-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    
    font-size: 1.1em;
}

.selected-item .date {
    font-weight: 500;
}


.remove-button {
    background-color: #ff4d4f;
    border: none;
    color: #ffffff;
    padding: 0.3rem 0.6rem;
    border-radius: 3px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #e04344;
}